body {
  font-family: Arial;
  background: #f4f4f4;
}
body {
  font-family: 'Arial', sans-serif;  /* czcionka */
  background-color: #f9f9f9;         /* jasne tło */
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;  /* ciemny nagłówek */
  color: white;
  text-align: center;
  padding: 30px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;   /* przyklejony do dołu */
  width: 100%;
}
